body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
  color: brown;
}

.main{
  width: 40rem;
  height: auto;
  border: 1px solid black;
  background-color: aqua;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 50px 30px 50px;
}
h2{
  text-align: center;
}
.inside{
  display: flex;
  flex-direction: column;
}
button{
  width: 170px;
  height: auto;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 auto;
}
